@use "normalize";


// FAB - ( Floating Action Button )


$main-background-color: #000;
//$main-background-color: #ffffff;

$primary-color: #151b35;

$title-color: #fff;


html {
  scrollbar-gutter: stable;
}

html.no-scroll {
  overflow: hidden;
}


.box1 { border: 1px solid crimson }
.box2 { border: 1px solid cornflowerblue }
.box3 { border: 1px solid springgreen }
.box4 { border: 1px solid darkorange }

.boxd1 { border: 1px dashed crimson }
.boxd2 { border: 1px dashed cornflowerblue }
.boxd3 { border: 1px dashed springgreen }
.boxd4 { border: 1px dashed darkorange }


.spacer1 { height: 70vh; background-color: #eacdcf; }
.spacer2 { height: 70vh; background-color: #bfccda; }

#slPosadasApp.sl-posadas {

  .sl-container {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
  }

  .hero__section {
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80dvh;
    min-height: 30rem;

    background-color: salmon;
    overflow: hidden;



    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      align-items: center;
      width: 90%;
    }

    .offer-logo {

      .insignia {
        display: block;
        width: 10rem;
        object-fit: cover;
      }
    }


    .hero-title {
      display: block;
      text-align: center;
      text-wrap: pretty;
      text-transform: capitalize;
    }

    .hero-amenities__container {

    }

    .hero-amenities__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .hero-amenities__list-item {
      display: flex;
      gap: 1rem;
    }

    .list-item__icon-box {

    }

    .list-item__icon {

    }

    .list-item__label {
      display: block;
      text-align: left;
      text-wrap: pretty;
    }

  }



  .intro__section {

    .intro-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .intro-title {
      display: block;
      text-align: center;
      text-wrap: pretty;
      text-transform: capitalize;
    }

    .intro-subtitle {
      display: block;
      text-align: center;
      text-wrap: pretty;
    }

    .intro-description {
      display: block;
      text-align: center;
      text-wrap: pretty;
    }


    .intro-details {
      display: grid;
      grid-template-columns: 1fr;
    }

    .content-list {
      display: block;
      list-style: none;
    }


    .intro-details__media {
      order: -1;
      display:flex;
      align-items:center;
      justify-content:center;
      //width:600px;
      //height:600px;
      background:papayawhip;
      /* shrink for video */
      /* transform-origin:0 0;
      transform:scale(0.7); */
    }

    .mask {
      //width:550px;
      //height:550px;
      background:salmon;
      overflow:hidden;
      clip-path:polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
    }

    .mask-img {
      width: 100%;
    }

  }




  .cabins__section {

  }


  .why-us__section {

  }

  .activities__section {

  }



}  //- END


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  #slPosadasApp.sl-posadas  {

    .intro__section {
      .intro-details {
        grid-template-columns: 1fr 1fr;
      }

      .intro-details__media {
        order: 1;
      }
    }

  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}